/*9portfolio*/
/*--Портфолио--*/

.filters {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 50px 0 0 0;
  list-style: none;
}

.filters {
  &__item + &__item {
    margin-left: 8px;
  }
}

.filters {
  &__button {
    display: inline-block;
    padding: 6px 22px;
    min-width: 29px;

    font-family: "Roboto", ‘Raleway’ sans-serif;
    font-style: normal;
    background: $button-color;
    border-radius: 4px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.6;
    letter-spacing: 0.03em;
    cursor: pointer;
    border: 0;

    transition: background 250ms $timing-function, color 250ms $timing-function;
  }
}

.filters {
  &__button {
    &:hover,
    &:focus {
      background: $logo-color;
      color: $footer-logo-color;
      box-shadow: 0px 3px 1px $modal-btn-close-border,
        0px 1px 2px $filters-box-shadow, 0px 2px 2px r$modal-box-shadow1;
    }
  }
}

.filters {
  &__button--active {
    background: $logo-color;
    color: $footer-logo-color;
    box-shadow: 0px 3px 1px $modal-btn-close-border,
      0px 1px 2px $filters-box-shadow, 0px 2px 2px $modal-box-shadow1;
  }
}

.project {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  margin: 0;
  padding: 0;
}

.project {
  &__item {
    width: 370px;
  }
}

.project {
  &__item {
    &:not(:nth-child(3n)) {
      margin-right: 30px;
    }
  }
}

.project {
  &__item {
    &:not(:nth-last-child(-n + 3)) {
      margin-bottom: 30px;
    }
  }
}

.project {
  &__link {
    text-decoration: none;
    transition: box-shadow 250ms $timing-function;
  }
}

.project {
  &__link {
    &:hover,
    &:focus {
      box-shadow: 0px 1px 1px $modal-box-shadow1,
        0px 4px 4px $project-link-box-shadow1,
        1px 4px 6px $project-link-box-shadow2;
    }
  }
}

.project-thumb {
  position: relative;
  overflow: hidden;
}

.project-thumb {
  &__title {
    padding: 63px 24px;

    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 1.6;
    letter-spacing: 0.03em;

    color: $footer-logo-color;

    .project__item:focus &,
    .project__item:hover & {
      transform: translateY(0);
      transition: transform 250ms $timing-function;
    }
  }
}

.project-thumb {
  &__title,
  &::before {
    display: inline-block;
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    transition: transform 250ms $timing-function;
    transform: translateY(100%);
  }
}

.project-thumb::before {
  background: $logo-color;

  .project__item:focus &,
  .project__item:hover & {
    transform: translateY(0);
    transition: transform 250ms $timing-function;
  }
}

.project-border {
  border-left: 1px solid $project-item-border;
  border-right: 1px solid $project-item-border;
  border-bottom: 1px solid $project-item-border;

  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 24px;
}

.project-border {
  &__title {
    font-family: "Roboto", ‘Raleway’ sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    letter-spacing: 0.06em;
    line-height: 2;
    color: $body-color;

    margin-bottom: 4px;
  }
}

.project-border {
  &__text {
    color: $tel-color;
    letter-spacing: 0.03em;
    line-height: 1.9;
  }
}
